.background    { background: rgb(189, 240, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(241, 104, 21); }
.wall          { background: black;   }
.coin		{background: rgb(234, 255, 0);}

.actor {position: absolute; }
.player { background: rgb(255, 0, 150); }
.lost .player {
  background: white;
}
.won .player {
  box-shadow: -4px -7px 8px blue, 4px -7px 8px blue;
}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 550px;
  position: relative;
}
